* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    font-family: 'Playfair Display', serif;
    padding: 1rem;
    margin: 1rem;
}

#main .main-container ul{
   display: flex;
   background: #e8e8e8;
   color: #000;
   margin: 1rem 0;
   justify-content: right;
}

#main .main-container ul li {
    font-size: 1.5rem;
    font-weight: bolder;
}

#about .about-container {
    background: url('./img/bgpotrait1.jpg')no-repeat center/cover;
    height: 90vh;
    color: #000;
     
}

#about .about-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

#about .about-container li {
    font-size: 4rem;
}

#about .about-container p {
    text-align: end;
    margin-right: 1rem;
    font-size: 2rem;
}

#tools .tools-container {
    display: flex;
    justify-content: space-around;
    background: #e8e8e8;
    margin: 1rem 0;
}

#tools .tools-container i {
    font-size: 5rem;
    color: #000;
    padding: 1rem;
}

#social .social-container {
    display: flex;
    justify-content: space-evenly;
    background: #e8e8e8;
    margin: 1rem 0;
    padding: 1rem;
}

#social .social-container .social-content i a{
    font-size: 2rem;
    color: #000;
    margin: 1rem 0;
    padding: 1rem
}

#social .social-container .social-content i.fab.fa-twitter {
    color: rgba(29,161,242,1.00);
}

#social .social-container .social-content i.fab.fa-twitter:hover {
    cursor: pointer;
    color: coral;
} 

#social .social-container .social-content i.fab.fa-linkedin-in {
    color: rgba(29,161,242,1.00);
}

#social .social-container .social-content i.fab.fa-linkedin-in:hover {
    cursor: pointer;
    color: coral;
} 

#social .social-container .social-content i.fab.fa-facebook-f {
    color: #3578E5;
}

#social .social-container .social-content i.fab.fa-facebook-f:hover {
    cursor: pointer;
    color: coral;
} 








