body {
    background: #fff;
    color: #000;
}

.container {
    display: grid;
    grid-template-areas: 
    ' header header header'
    'section2 section3 section4'
    'section5 section5 section5'
    'section6 section6 section6'
    
    ;
    
}

.header {
    grid-area: header;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin: 1rem;
}

.header img {
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #000;
    margin: 1rem;
}

.section1, .section2, .section3, .section4, .section5, .section6 {
    margin: 1rem;
    font-size: 2rem;
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    padding: 1rem;
}

.section1 h3, .section2 h3, .section3 h3, .section4 h3, .section5 h3, .section6 h3 {
   text-align: center;
}

.section1 { grid-area: section1; }

.section2 { grid-area: section2; }

.section3 { grid-area: section3; }

.section4 { grid-area: section4; }

.section5 { grid-area: section5; }

.section6 { grid-area: section6; }

section p {
    padding: 1rem;
    margin: .5rem;
}


.contact-info li i {
    margin: .5rem;
    padding: .5rem;
}


